<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <!-- Não exigir tela de toque nem controle: assim o app também aparece para Android TV -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />

    <application
        android:allowBackup="false"
        android:banner="@drawable/banner_tv"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.PandaPlay">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Aparece no menu da Android TV / Google TV -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".StoreActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".GameActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PandaPlay.Game" />
    </application>
</manifest>
